<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <title>New Chat</title>
</head>
<body class = "bg-chatblack-50">
    <div class="flex h-[100vh] text-white">
        <div class="left bg-black w-2/12">
            left
        </div>
        <div class="right w-10/12 flex justify-center items-center flex-col">
            <div class="text-center w-full text-4xl font-bold">
            ChatGPT
            </div>
            <div class="items row flex ">
                <div class="examples"><div>
                <div class="cap"></div>
                <div class="lim"></div>
            </div>
    </div>
</body>
</html>